@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Monosten';
	src: url('/fonts/monosten-var.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* Optional: improves loading performance */
  }

@theme {
	--font-outfit: 'Outfit', sans-serif;
	--font-monosten: 'Monosten', sans-serif;
	--color-oio-blue: #4870FF;
	--color-oio-red: #FF857B;
	--color-oio-violet: #9F86FF;
	--color-gray-dark: #19191A;
	--color-gray-light: #323235;
	--color-gray-ultralight: #F5F5F5;
	--color-oio-cyan: #77E7FF;
}

/* body {
	background-image: radial-gradient(circle, #E6E6E6 1px, transparent 1px); background-size: 1rem 1rem;
} */

body {
	@apply px-12 py-4 w-screen h-screen max-w-screen max-h-screen flex flex-col bg-black text-white;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-semibold font-monosten uppercase;
}

h4 {
	@apply text-sm;
}

a {
	@apply underline underline-offset-2;
}

button {
	@apply cursor-pointer;
}

input, textarea {
	@apply w-full text-sm ;
}

label {
	@apply w-full text-xs ml-1 mt-2 font-monosten;
}

input {
	@apply w-full px-2 py-1 rounded-lg bg-gray-light text-white;
}

textarea {
	@apply w-full resize-none rounded-lg p-2 focus:outline-none bg-gray-light text-white;
}

.input-output {
	@apply w-full bg-black rounded-xl p-4;
}

.input-title {
	@apply mb-2;
}