@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import 'tailwindcss';

@theme {
	--font-outfit: 'Outfit', sans-serif;
	--color-oio-blue: #4870FF;
	--color-gray-dark: #333333;
	--color-gray-light: #E5E5E5;
	--color-gray-ultralight: #F5F5F5;
}

body {
	@apply px-6 py-4 w-screen h-screen max-w-screen max-h-screen flex flex-col;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-outfit font-semibold;
}

.machine {
	@apply border-2 border-gray-dark rounded-lg;
}