<!DOCTYPE html>
<html>
	<head>
		<title>Domestic API</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oi&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>Domestic API</h1>
		<main>
			<div id="endpoints"></div>
			<div id="response-container">
				<div id="response">
					<h3 id="response-title"></h3>
					<div id="response-content"></div>
				</div>
			</div>
		</main>
		<script src="/static/index.js"></script>
	</body>
</html>